link(href="../../bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
script(src="../../bower_components/jquery/dist/jquery.min.js")
script(src="../../bower_components/bootstrap/dist/js/bootstrap.min.js")